body {
    background-image: url("https://img.freepik.com/premium-vector/blue-medical-plus-sign-health-abstract-background_716564-216.jpg");
    background-size: cover;
    background-position: right;
}
/*https://previews.123rf.com/images/simpson33/simpson331711/simpson33171100026/90028168-doctor-with-stethoscope-in-a-hospital-web-banner-background-template.jpg */
/*https://img.freepik.com/premium-vector/blue-medical-plus-sign-health-abstract-background_716564-216.jpg */
