@*@model System.Data.DataTable

    @if (Model != null && Model.Rows.Count > 0)
    {
        <h4>Signed-in User Details</h4>
        <p>Username: @Model.Rows[0]["Username"].ToString()</p>
        <p>Email: @Model.Rows[0]["Email"].ToString()</p>
        <!-- Display other details of the signed-in user as needed -->
    }
*@

