
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<h2>Error</h2>


<p>@TempData["ErrorMessage"]</p>

<button class="btn btn-info text-decoration-none text-dark fw-bold">
    @Html.ActionLink("Back", "Index")
</button>