@{
    ViewBag.Title = "About";
}
<link href="~/Content/about.css" rel="stylesheet" />

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    @*
        <h3>@ViewBag.Message</h3>*@
    <h5 class="text-center m-5">Established in 2017,presence in India ,MiddleEast,Africa</h5>



    <div class="row">
        <div class="col-5 text-center border  about-vision">
            <h3>Our vission</h3>
            <p class="all-p-tag">Enable healthcare businesses to provide superior healthcare delivery and patient care with technology – globally</p>
        </div>
        <div class="col-2"></div>
        <div class="col-5 text-center border about-mission">
            <h3>Our mission</h3>
            <p class="all-p-tag">Provide a scalable, secure platform to clinics and hospitals that provide great value at reasonable cost</p>
        </div>
    </div>

    <div class="row m-5">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h3 class=" offer-details">Values</h3>
            <p class="all-p-tag">Our value system defines us, and acts as an anchor when we are faced with challenges. We have a culture of customer focus, continuous improvement and customer service.</p>
        </div>
        <div class="col-3"></div>

    </div>

    <div class="text-center">
        <h2 class="fs-1 fw-bolder offer-details">What we offer?</h2>
        <img class="image-section w-25 h-25" src="https://media.istockphoto.com/id/479287689/vector/happy-doctor.jpg?s=612x612&w=0&k=20&c=WwIQDu7d4wlb9kepYtRnLFcCEU6K_ECkrhH7_-trEKE=" />

    </div>

    <div class="empty-div">

            <div class="p-2 ">
                <h4 class="m-3  fw-bolder text-center offer-details">Your nearest doctor</h4>
                <p  class="all-p-tag text-center">Find the nearest doctor in your area and choose your preferred time slot to book an in-clinic or video consultation. Our user-friendly booking process ensures a seamless and hassle-free experience, making it quick and simple to schedule your appointment.
</div>


            <div class="p-2">
                <h4 class="m-3  fw-bolder text-center offer-details">24/7</h4>
                <p class=" all-p-tag text-center">"Experience the convenience of our 24/7 online booking system, allowing you to schedule appointments at your convenience. Should you have any questions or concerns, our dedicated team is just a phone call away, ready to provide assistance and support around the clock.</p>
            </div>




            <div class="p-2">
                <h4 class="m-3  fw-bolder text-center offer-details">Online/Inclinic consultation</h4>
                <p class="all-p-tag text-center">We offer the flexibility of both online and in-clinic consultations, providing you with the opportunity to choose the option that suits you best. Whether you prefer the convenience of virtual appointments or the personalized care of in-person visits, our experienced healthcare professionals are ready to provide top-notch medical assistance tailored to your needs.
</div>




            <div class="p-2">
                <h4 class="m-3  fw-bolder text-center offer-details">Reschedule?cancel</h4>
                <p class="all-p-tag text-center">At our clinic, we understand that circumstances may arise that require you to reschedule or cancel your appointment. We value your time and convenience, which is why we offer the flexibility to reschedule or cancel appointments. If you need to make any changes, please contact our team, and we will be happy to assist you in finding an alternative time or helping with the cancellation process.
</div>
          

    </div>
</main>