@{
    ViewBag.Title = "Contact";
}
<link href="~/Content/contact.css" rel="stylesheet" />
<main aria-labelledby="title">
    <div class="conatact">

<div class="row w-100 first-parent-div">
    <div class="main-div-half1 col-6"></div>
    <div class="main-div-half2 col-6 "></div>
</div>



<div class="row second-parent-div">
    <div class="col-2"></div>
    <div class="contact-form-details col-8 bg-light ">
        
           
        <div class="message-div">
            <h4>Send a message</h4>

            <form class="">
                <!-- full name -->
                <div>
                    <label for="fullname" class="inputTagname">Full name:</label><br>
                    <input class="inputFullname" type="text" placeholder="Full name" name="fullname" id="inputName"
                           onfocusout="validateName()"><br>
                    <span class="validateNameError"></span>
                </div>
                <!-- email -->
                <div>
                    <label for="email" class="inputTagname">Email</label><br>
                    <input type="email" placeholder="Email" name="email" id="inputEmail"
                           onfocusout="validateEmail()"><br>
                    <span class="validateEmailError"></span>
                </div>
                <!-- mobile -->
                <div>
                    <label for="mob" class="inputTagname">Mobile</label><br>
                    <input type="tel" pattern="[0-9]{10}" placeholder="Mobile number" name="mob" id="inputmob"
                           onfocusout="validateMobile()"><br>
                    <span class="validateMobileError"></span>
                </div>
                <!-- message -->
                <div>
                    <label for="text" class="inputTagname">Message</label><br>
                    <textarea cols="30" rows="3" placeholder="Message" id="inputMessage"
                              onfocusout="validateMessage()"></textarea><br>
                    <span class="validateMessageError"></span>
                </div>
                <div class="divButton">
                    <button class="button" type="button">Submit</button>
                    <button class="button" type="button" onclick="backButton()">Back</button>

                </div>
            </form>


        </div>
    </div>
    <div class="col-2"></div>

</div>

        <div class="row last-session">
            <div class="col-1"></div>
            <div class="col-3 bg-danger text-center">
                <h3>Contact info</h3>
                <div class="d-flex flex-row text-center">
                    <div class="headingAdmindetails"><i class="fa-solid fa-location-dot"></i></div>
                    <div class="ii">
                        <p>Gold tower</p>
                        <p>Kakkanad</p>
                        <p>Wayanad</p>
                    </div>

                </div>
                <div class="d-flex flex-row text-center">
                    <div class="DetailsofWebsite">
                        <h3 class="headingAdmindetails"><i class="fa-solid fa-phone"></i></h3>
                        <div class="ii">7306946106</div>
                    </div>
                </div>
                <div class="d-flex flex-row text-center">
                    <div class="DetailsofWebsite">
                        <h3><i class="fa-solid fa-envelope"></i></h3>
                        <p>d@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-7"></div>
        </div>















            <h1 class="headingContactsession">Contact us</h1>




































        <div class="parentdivContactsession">

            <div class="address-location-number-div">
                <h3>Contact info</h3>
                <div>
                    <div class="headingAdmindetails"><i class="fa-solid fa-location-dot"></i> Address:</div>
                    <div class="ii">
                        <p>Gold tower</p>
                        <p>Kakkanad</p>
                        <p>Wayanad</p>
                    </div>

                </div>
                <div>
                    <div class="DetailsofWebsite">
                        <h3 class="headingAdmindetails"><i class="fa-solid fa-phone"></i>Phone:</h3>
                        <div class="ii">7306946106</div>
                    </div>
               </div>
                <div>
                    <div class="DetailsofWebsite">
                        <h3><i class="fa-solid fa-envelope"></i>Email:</h3>
                        <p>d@gmail.com</p>
                    </div>
                </div>
            </div>

















            <div class="formTagDiv">
                <form class="formTag">
                    <!-- full name -->

                    <div>
                        <label for="fullname" class="inputTagname">Full name:</label><br>
                        <input class="inputFullname" type="text" placeholder="Full name" name="fullname" id="inputName"
                               onfocusout="validateName()"><br>
                        <span class="validateNameError"></span>
                    </div>
                    <!-- email -->
                    <div>
                        <label for="email" class="inputTagname">Email</label><br>
                        <input type="email" placeholder="Email" name="email" id="inputEmail"
                               onfocusout="validateEmail()"><br>
                        <span class="validateEmailError"></span>
                    </div>
                    <!-- mobile -->
                    <div>
                        <label for="mob" class="inputTagname">Mobile</label><br>
                        <input type="tel" pattern="[0-9]{10}" placeholder="Mobile number" name="mob" id="inputmob"
                               onfocusout="validateMobile()"><br>
                        <span class="validateMobileError"></span>
                    </div>
                    <!-- message -->
                    <div>
                        <label for="text" class="inputTagname">Message</label><br>
                        <textarea cols="30" rows="3" placeholder="Message" id="inputMessage"
                                  onfocusout="validateMessage()"></textarea><br>
                        <span class="validateMessageError"></span>
                    </div>
                    <div class="divButton">
                        <button class="button" type="button">Submit</button>
                        <button class="button" type="button" onclick="backButton()">Back</button>

                    </div>
                </form>
            </div>
          
        </div>
        
    </div>

</main>
<script src="~/Scripts/contact.js"></script>
