@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Index.css" rel="stylesheet" />

<main class="p-5">
    <div class="container d-flex flex-row justify-content-evenly">
        <div>
            <div class=" d-flex flex-column">
                <span class="index-focusline"> Your health is </span>
                <span class="index-focusline">our top priority</span>
            </div>
            <p class="">In the realm of medicine, doctors are the architects of miracles, mending broken bodies and nurturing wounded souls.</p>
            <button class="button-details btn border-success">Read more about us!!...</button>

            <div class="d-flex flex-row w-75 ">
                <div class="index-key-features flex-grow-1">
                    <p>264K+</p>
                    <p>Recovered patients</p>
                </div>
                <div class="index-key-features flex-grow-1">
                    <p>94%+</p>
                    <p>Satisfaction state</p>
                </div>
                <div class="index-key-features flex-grow-1">
                    <p>12++</p>
                    <p>Expert doctors</p>
                </div>

            </div>
        </div>
        <div class="index-di">
            <img class="index-image" src="https://img.freepik.com/premium-photo/healthcare-medicine-concept-young-team-group-doctors_380164-54023.jpg" />
        </div>

    </div>
</main>